// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  text-align: center;
  margin-top: 50px;
  font-size: 5vw;
}
.search{
  input{
    &[type='text']{
      width: 40%;
    }
  }
}
